/*
    NAV ELEMENT BACKGROUND : orange
    NAV ELEMENT HOVER      : red

    BREAKPOINTS

    tablet  : 600px
    desktop : 900px
*/

/*** Default Mobile Styles ****************************/
body{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}







/**** Tablet Styles ***********************************/










/**** Desktop Styles ***********************************/











